.divTable{
	display: table;
	width: 100%;
    margin-top: 150px;
}
.divTableRow {
	display: table-row;
    padding-top: 200px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	display: table-cell;
	padding: 100px 60px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

p {
    color: white;
    font-size: 18px;
    text-align: center;
}

.update--flex {
    display: flex;
    justify-content: center;
}

.update {
    display: inline-flex;
    position: relative;
    font-size: 18px;
    font-weight: 400;
    margin: 250px 0 50px 0;
    color: rgb(120, 120, 120);
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.08);
}



@media only screen and (max-width: 999px) {

	.update--flex {
        	display: flex !important;
        	justify-content: center !important;
        	width: 819px !important;
    	}
	.update {
        font-size: 16px !important;
    	}   
}
