.cursor {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 2px solid white;
    transition: all 0ms ease-out;
    position: fixed;
    z-index: 99999;
    pointer-events: none;
    left: 0;
    top: 0;
    transition: width 0.15s;
}

.cursor.hover {
    border-color: black;
    width: 40px;
    height: 40px;
    opacity: 0.6;
}